
<div class="container">
	<div class="jumbotron">
	  	<h2>Peruse my tasty vittles!</h2>
	  	<div class="input-group">
	  		<input type="text" class="form-control" id="search_box">
	  		<span class="input-group-addon"><img style="width:15px;height:15px;" src="/img/search.png"/></span>
		</div>
	</div>

	<ul class="row">
		<?= $this->partialLoop( 'index/menu_item.phtml', $this->menu_items); ?>
	</ul>

</div>

<?= $this->partial( 'index/map.phtml', array('map'=>$this->menu_map ) ); ?>