
        <div class="menu_item" id="menu_view_<?= $this->id ?>" style="display:none;padding-right:35px;" > 
            <div class="well" style="margin:0px;margin-bottom:1px;height:35px;">
                <span class="pull-left" style="width:40%;">
                    <?= $this->name; ?> 
                </span>
                <span class="pull-left">
                    <?= $this->cuisine; ?>
                </span>
            </div>
        </div>

